.text-gray{
    color:#8987A1 ;
}

.text-gray-title{
    color: #252432;
}


.bg-color{
    color: #E95A08;
}
.color{
    background-color: #E95A08;
}
/* header style*/




/* nav style*/
.display{
    display: flex;
}
.logo{
   justify-content: space-between;
   max-width: 1440px;
   margin: 0 auto;
}

.nav-items{
    list-style: none;
    margin-right: 30px;

}

.nav-link{
    text-decoration: none;
    font-weight: 500;

}

.css-home{
    font-weight: bold;
}
/*main style*/


.title{
    max-width: 1140px;
    margin: auto;
    text-align: center;
}
.text-coler{
    color: white;
}
.team-img-container{
    margin: 0 auto;
    max-width: 1440px;
}

.margin-padding{
    
    justify-content: space-between;
    padding: 10px;
    

}
.img-aling{
    text-align: center;
}


.img-contaner1, .img-contaner, button{
    text-align: center;
    width: 80%;
}